<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="dtd.phs.sms"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ShowInbox"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="ShowConversation"></activity>
        <service android:name=".senders.GoogleXMPPService"></service>
        <activity android:name=".test.XMPP_Activity">
          
            </activity>
        <activity android:name=".test.TestWriteSMS">
            
        </activity>
        <activity android:name="FirstTimeScreen"><intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>

    </application>
</manifest>